@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #434a7f;
    /* background: linear-gradient(to right, #e2e2e2, #c9d6ff); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.recuperar-senha {
    height: 50vh;
    width: 80%;
    border-radius: 15px;
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    flex-direction: column;
    background-color: purple;
}

.infoForm {
    display: flex;
    justify-content: flex-start;
    font-size: 15px;
    color: #fff;
    margin: 10px;
}

.nova-senha {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 25px;
    border: 15px;
    background-color: #fff;
}

.nova-senha input {
    border-radius: 5px;
    margin: 5px;
}

.inputInfo {
    display: flex;
    align-items: center;
}

.bntForm {
    width: 100%;
    display: flex;
    justify-content: center;
}

.concSenha {
    color: purple;
    margin: 15px;
    border-radius: 5px;
    margin-left: 15px;
    padding: 4px;
}

.cadeado {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.newPassword {
    padding: 2px;
}